---
title: Talks
---

<h1>Talks</h1>

{{#each collections.talks }}
  <section>
    <a href="/talks/{{ slug }}"><h2>{{ title }}</h2></a>
    <div class="wide-750">
      <a href="/talks/{{ slug }}"><img src="{{ poster }}" alt="{{ title }}" /></a>
    </div>
    <p>{{ excerpt }} <a href="/talks/{{ slug }}">Continue reading...</a></p>
  </section>
{{/each}}
