---
layout: default.html
---

<h1>Work</h1>

{{#each collections.work }}
  <section class="project">
    <a href="/{{ path }}"><h2>{{ title }}</h2></a>
    <div class="wide-750">
      <a href="/{{ path }}"><img src="{{ poster }}" alt="{{ title }}" /></a>
    </div>
    <p>{{ excerpt }} <a href="/{{ path }}">Continue reading...</a></p>
  </section>
{{/each}}
