<title>Rune Madsen - {{#if title }}{{ title }}{{ else }}Designer, artist, and educator{{/if}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@runemadsen">
<meta name="twitter:creator" content="@runemadsen">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image:src" content="{{#if poster }}{{ poster }}{{ else }}https://assets.runemadsen.com/work/tinyartists-temp.jpg{{/if}}">
<link rel="stylesheet" href="/{{ fingerprint.[css/index.css] }}">
<script src="https://cdn.usefathom.com/script.js" data-site="KHYSBZYH" defer></script>
